body {
    font-family: Arial, sans-serif;
    background-color : #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}